:root {
  --primary-text-color: black;
  --title-text-color: black;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primery-grey-color: #757575;
}
body {
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: black;
  text-decoration-line: none;
}

/* Лого */

.logo-part {
  color: var(--accent-color);
}

a {
  text-decoration-line: none;
  color: var(--accent-color);
}
a:focus,
a:hover {
  color: orange;
}

li {
  list-style-type: none;
}
/* Навигация сайта */

nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.studio {
  color: var(--accent-color);
}

.studio:hover {
  color: orange;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

p {
  color: var(--primery-grey-color);
}

.benefits {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
  background-color: white;
}

button:focus,
button:hover {
  color: orange;
}

.portfolio {
  color: var(--accent-color);
}

.main-button {
  background-color: var(--accent-color);
  color: #ffffff;
}

.works {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2.5;
  letter-spacing: 0.06em;
}

.contact {
  color: var(--accent-color);
}

.mail {
  color: var(--accent-color);
}

.mail:hover {
  color: orange;
}
